<div class="container">

  <form autocomplete="off" [formGroup]="tenantForm">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Room No</mat-label>
            <input matInput placeholder="Enter Room No"  id="roomNo" name="roomNo"  formControlName="roomNo" [(ngModel)]="tenantModel.roomNo" required>
            <mat-error *ngIf="tenantForm.controls['roomNo'].invalid">{{onFormValidation(tenantForm.controls['roomNo'],'roomNo',3)}}</mat-error>
        </mat-form-field>

        &nbsp;<mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name"  id="name" name="name" formControlName="name" [(ngModel)]="tenantModel.name">
            <mat-error *ngIf="tenantForm.controls['name'].invalid">{{onFormValidation(tenantForm.controls['name'],'name',30)}}</mat-error>
        </mat-form-field>

        &nbsp;<mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Enter Address" id="address" name="address" formControlName="address"  rows="1" [(ngModel)]="tenantModel.address"></textarea>
            <mat-error *ngIf="tenantForm.controls['address'].invalid">{{onFormValidation(tenantForm.controls['address'],'address')}}</mat-error>
        </mat-form-field>

        &nbsp;<mat-form-field appearance="outline">
            <mat-label>Adhar No</mat-label>
            <input matInput placeholder="Enter Adhar No" id="adharno" name="adharno" formControlName="uin" [(ngModel)]="tenantModel.uin">
            <mat-error *ngIf="tenantForm.controls['uin'].invalid">{{onFormValidation(tenantForm.controls['uin'],'adhar no',12)}}</mat-error>
        </mat-form-field>

        &nbsp;<mat-form-field appearance="outline">
            <mat-label>Deposit Amount</mat-label>
            <input matInput placeholder="Enter Deposit Amount" id="depositAmount" name="depositAmount" formControlName="depositAmount" [(ngModel)]="tenantModel.depositAmount">
            <mat-error *ngIf="tenantForm.controls['depositAmount'].invalid">{{onFormValidation(tenantForm.controls['depositAmount'],'depositAmount')}}</mat-error>
        </mat-form-field>

        &nbsp;<mat-form-field appearance="outline">
            <mat-label>Rent Start Date</mat-label>
            <input matInput [matDatepicker]="picker1"  formControlName="rentStartDate">
            <mat-error *ngIf="tenantForm.controls['rentStartDate'].invalid">{{onFormValidation(tenantForm.controls['rentStartDate'],'rentStartDate')}}</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>          
    </p>
    
        <section class="example-section">
            <!-- <mat-error *ngIf="tenantForm.controls['rentStartDate'].invalid">{{onFormValidation(tenantForm.controls['file'],'file')}}</mat-error> -->
            <mat-checkbox class="example-margin" id="isActive" name="isActive" formControlName="isActive" *ngIf="Mode === 'edit'"  [(ngModel)]="tenantModel.isActive">Is Active</mat-checkbox>
            <input type='file' [ngClass]="{'file' : Mode === 'edit' }" (change)="getImageData($event)" id="file" name="file" required>
            <img src="{{getProfilePic()}}" id="profilePics" style="height:24px" *ngIf="Mode === 'edit'"> 
            <button mat-raised-button (click)="onSave()" style="margin-left: 50%">Save</button>
            &nbsp;<button mat-raised-button (click)="refreshForm()">Clear</button>
        </section>
    </form>

    <br>
    <div class="row">
        <ag-grid-angular style="width: 100%;height: 300px;" class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            [getRowId]="getRowId"
            (gridReady)="onGridReady($event)"
            ></ag-grid-angular>
    </div>      

</div>

