<mat-toolbar>
    <img src="/assets/rent_logo.jpg" height="65" width="75" alt="Room">
    <span>Rent System</span>
    <div class="spacer"></div>
      <a mat-button>Dashoard</a>
      <a mat-button routerLink="/tenants">Tenant</a>
      <a mat-button routerLink="/outstandings">Outstanding</a>
      <a mat-button [matMenuTriggerFor]="menu">Profile</a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>View Profile</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
</mat-toolbar>