.heading {
    font-size: 20px;
    font-weight: 500;
    color: #000000de;
    font-family: 'Roboto', sans-serif;
}

.lbl {
    color: #0000008a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.p-text {
    color: #000000d1;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.ag-theme-balham {
    .ag-header {
        background: #44c4e740;
        border-color: #44c4e79c;
    }

    .ag-root-wrapper {
        border-color: #44c4e79c;
    }

    .ag-header-cell-text {
        font-size: 14px;
        color: black;
    }

    .ag-ltr {
        .ag-cell {
            font-size: 14px;
            color: #3e3b3b;
            font-weight: 400;
        }
    }
}

.container {
    background: #007bff05;
    max-width: 100%;
    padding: 20px;
}

.primary-btn {
    background-color: #fff;
    color: #00e0ed;
    border-color: #00e0ed;

    &:hover {
        color: #fff;
        background-color: #00e0ed;
        border-color: #00e0ed;
    }
}