<div class="main">
    <div class="login">
        <form [formGroup]="loginForm">
            <h2>Login</h2>
            <div>
                <label for=""></label>
                <input type="email" formControlName="email" name="email" placeholder="Email" required="">
            </div><br>
            <div>
                <label for=""></label>
                <input type="password" name="pswd" formControlName="password" placeholder="Password" required="">
            </div><br>
            <button (click)="onLogin()">Login</button>
        </form>
    </div>
</div>