<!-- <div class="main">
    <div class="login">
        <form [formGroup]="loginForm">
            <h2>Login</h2>
            <div>
                <label for=""></label>
                <input type="email" formControlName="email" name="email" placeholder="Email" required="">
            </div><br>
            <div>
                <label for=""></label>
                <input type="password" name="pswd" formControlName="password" placeholder="Password" required="">
            </div><br>
            <button (click)="onLogin()">Login</button>
        </form>
    </div>
</div> -->
<!-- <div class="container">
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button (click)="onLogin()" class="btn btn-primary">Login</button>
    </form>
</div> -->
<div class="background">
    <section class="form animated flipInX">
        <h2>Login To Your Account</h2>
        <p class="valid">Valid. Please wait a moment.</p>
        <p class="error">Error. Please enter correct Username &amp; password.</p>
        <form class="loginbox" autocomplete="off" [formGroup]="loginForm">
            <input placeholder="Username" type="text" formControlName="email" id="username" />
            <input placeholder="Password" type="password" formControlName="password" id="password" />
            <button id="submit" (click)="onLogin()">Login</button>
        </form>
    </section>
</div>